@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #FEF8F8;
  --foreground: #1E1E1E;
  --malina: #F2313E;
}

@theme {
  --color-malina: var(--malina);
}

/* Wymuszamy, by tryb ciemny wchodził TYLKO gdy jest klasa .dark */
.dark {
  --background: #1E1E1E;
  --foreground: #FEF8F8;
  --malina: #F2313E;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope);
  transition: background-color 0.3s ease; /* Płynne przejście kolorów */
}

.font-sans {
  font-family: var(--font-manrope);
}
h1, h2, h3,a, button, .font-special{
  font-family: var(--font-bricolage-grotesque);
}