@import "tailwindcss";


:root {
  /* Tryb jasny */
  --background: #FEF8F8;
  --foreground: #1E1E1E;
}

.dark {
  /* Tryb ciemny */
  --background: #1E1E1E;
  --foreground: #FEF8F8;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-malina-100: var(--malina-100);
  --font-sans: var(--font-manrope);
}

body {
  font-family: var(--font-manrope);
}

h1, h2, h3, h4{
  font-family: var(--font-bricolage-grotesque);

}

a{
  font-family: var(--font-bricolage-grotesque);
}

.white-40{
  color: #D5CDCD;
}

.white-60{
  color: #D8C8C8;
}

.white-80{
  color: #FEF8F8;
}

.white-100{
  color: #FFFBFB;
}

.black-20{
  color: #A5A5A5;
  .dark &{
    color: white;
  }
}

.black-40{
  color: #787878;
  .dark &{
    color: #D5CDCD;
  }
}

.black-60{
  color: #787878;
  .dark &{
    color: #D8C8C8;
  }
}

.black-80{
  color: #4B4B4B;
  .dark &{
    color: #FEF8F8;
  }
}

.black-100{
  color: #1E1E1E;
  .dark &{
    color: #FFFBFB;
  }
}

.malina-100{
  color: #F2313E;
}

.bg-malina-100{
  background-color: #F2313E;
}

.border-malina-100{
  border-color: #F2313E;
}

